/**
 *
 * Layout
 */

.content-area {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.widget-area {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media(min-width: 960px) {
  .site-content {
    display: flex;
    flex-wrap: nowrap;
  }
  .content-area {
    width: calc(100% - 320px);
    font-size: 21px;
  }
  .widget-area {
    max-width: 320px;
    font-size: 16px;
  }
}
