/**
 *
 * Buttons
 */

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  transition: all .2s ease-in-out;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
  transition: all .2s ease-in-out;
}
